@media only screen and (max-width: 760px) {
		#s1{
			position:relative;
			top:6px;
			width:75%;
		}
		#logo{
			width:100%;
			text-align:center;
			position:relative;
			left:12px;
		}
		#t1{
			position:relative;
			top:-20px;
			left:12px;
		}
		#n1{
			position:relative;
			left:0px;
		}
		#n2{
			position:relative;
			left:0px;
		}
		#n3{
			position:relative;
			left:0px;
		}
		#n4{
			position:relative;
			left:0px;
		}
		#btn2{
			margin-left:0px;
		}
	}
	@media only screen and (min-width: 760px) {
		#logo{
			width:100%;
			text-align:center;
			position:relative;
			left:12px;
		}
		#t1{
			position:relative;
			top:0px;
			left:17px;
		}
		#n1{
			position:relative;
			left:0px;
		}
		#n2{
			position:relative;
			left:0px;
		}
		#n3{
			position:relative;
			left:0px;
		}
		#n4{
			position:relative;
			left:0px;
		}
		#btn2{
			margin-left:0px;
		}
	}
	@media only screen and (min-width: 1000px) {
		#logo{
			width:25%;
			text-align:center;
			position:relative;
			left:300px;
			top:-114px;
			display:block;
			margin-top:107px;
		}
		#s1{
			position:relative;
			top:0px;
			left:-97px;
			width:-1%;
		}
		#n1{
			position:relative;
			left:-100px;
		}
		#n2{
			position:relative;
			left:-74px;
		}
		#n3{
			position:relative;
			left:-49px;
		}
		#n4{
			position:relative;
			left:-35px;
		}
		#btn2{
			margin-left:15px;
		}
	}
	@media only screen and (min-width: 1300px) {
		#logo{
			width:29%;
			position:relative;
			left:547px;
			top:0px;
			margin-top:0;
		}
		#n1{
			position:relative;
			left:-259px;
		}
		#n2{
			position:relative;
			left:-248px;
		}
		#n3{
			position:relative;
			left:-60px;
		}
		#n4{
			position:relative;
			left:-47px;
		}
	}